<%- include('partials/header') -%>
<div class="m-2">
    <a class="btn btn-outline-secondary btn-lg" href="/books" role="button">Vote for a Book</a>
</div>
<main class="container">
    <div class="row justify-content-center">
      <section class="col-md-6 mt-2">
<h1 class="text-center text-secondary">Search For A Book To Add</h1>
<div class="mb-3">
	<label for="booktitlesearch" class="form-label">Title</label>
	<input type="text" class="form-control" name="title" id="titleInput">
</div>
<div class="mb-3">
	<label for="bookauthorsearch" class="form-label">Author</label>
	<input type="text" class="form-control" name="author" id="authorInput">
</div>
	<button type="button" name="button" class="btn text-light btn-info btn-lg mb-5">Get Book</button>

    <div class="bookResult mb-5 text-center">
	<img class='p-2' id="bookimg" src="" alt="">
	<h2 class='display-2'></h2>
	<h4 class='p-1 display-5' ></h4>
	<h3 class="d-none"></h3>

    </div>

</section>
</div>
</main>
<div class="m-2">
    <a class="btn btn-outline-secondary btn-lg" href="/logout" role="button"> Logout</a>
</div>
    <script src="/js/search.js"></script>
<%- include('partials/footer') -%>