<%- include('partials/header') -%>
<div class="container">
<div class="d-lg-flex align-items-center justify-content-between m-3">
<div class="d-grid gap-2 col-md-4 mx-auto" >
    <h1 class="text-secondary mt-3">Welcome to Shelf Control!</h1>
    
    <a class="btn btn-info btn-lg text-light mb-2 w-75" href="/login" role="button"> Login</a>
        
    <a class="btn btn-info btn-lg text-light w-75" href="/signup" role="button"> Signup</a>

</div>
        

<img class="img-fluid d-block mt-5" src="/imgs/undraw_bookshelves_re_lxoy.svg" alt="">
</div>
</div>

<%- include('partials/footer') -%>