<%- include('partials/header') -%>
<main class="container">
    
      
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <section class="d-lg-flex align-items-center justify-content-between">
        <div class="d-grid gap-2 col-md-4 mx-auto m-5" >
    <form action="/login" method="POST">
        <div class="mb-3" >
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input 
                type="email" 
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email" 
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input 
                type="password" 
                class="form-control"
                name="password" 
                id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn text-light btn-info btn-lg">Submit</button>
    </form>
</div>
    <img class="img-fluid pt-5" src="/imgs/undraw_reading_re_29f8.svg" alt="">

</section>

</main>

    <%- include('partials/footer') -%>