<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-center">
        <section class="d-lg-flex align-items-center justify-content-between">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" name="userName" class="form-control" id="userName">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
            <div id="passwordHelp" class="form-text">Password must be at least 8 characters long</div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn text-light btn-info btn-lg">Submit</button>
    </form>
    <img class="img-fluid mx-auto pt-5" src="/imgs/undraw_book_lover_re_rwjy.svg" alt="">
        </section>
    </div>
</main>

 <%- include('partials/footer') -%>