<%- include('partials/header') -%>

<div class="container">
<div class="d-sm-flex align-items-center justify-content-between m-3">
    <div>
    <h1 class="text-secondary">WELCOME!</h1>
    <h2 class="text-secondary">What Would You Like To Do?</h2>

<a class="btn btn-info btn-lg text-light m-1" href="/books">Vote for a Book</a>

<a class="btn btn-info btn-lg text-light m-1" href="/books/booksearch">Add a Book</a>
</div>
<img class="img-fluid mx-auto d-block mt-5" src="/imgs/undraw_reading_time_re_phf7.svg" alt="">

</div>
</div>
<div class="m-2">
    <a class="btn btn-outline-secondary btn-lg" href="/logout" role="button"> Logout</a>
</div>
<%- include('partials/footer') -%>